.d-flex{
    display:flex;
    /* justify-content: flex-start ; */
}
.w-210{
    width:210px;
}
.w-200{
    width:200px;
}
.w-230{
    width:230px;
}
.cart_f_height{
    height:50px;
    align-items: center;
    border:1px solid rgb(230, 230, 230);
    margin-bottom:20px;
}
.cart_p_height{
    height:110px;
    align-items: center;
    border:1px solid rgb(230, 230, 230);
}
.cart_background{
    background:rgb(245, 245, 245)
}
.cart_white_bg{
    background:rgb(255, 255, 255)
}
.cart_l_height{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    border:1px solid rgb(230, 230, 230);
    margin-bottom:20px;
}
.ml-100{
    margin-left:800px;
}
.give{
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
    font-weight: 700;
    font-size: 18px;
    border:none;
    background:#cf121e;
    color:white;
    width:100px;
}
._last_price{
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
    margin-right:30px;
}
.color-red {
    color: #f62b2b;
    font-weight:700;
}
