.left_show{
    width:420px;
    height:540px;
    margin-right:20px;
}
.md_img_wh{
    width:420px;
}
.sm_square{
    width:420px;
    height:60px;
    float:left;
}
.sm_img_wh{
    width:60px;
    height:60px;
    margin:0px 7px;
    float:left;
}
.arrow{
    background:rgb(238, 238, 238);
    width:24px;
    height:60px;
    line-height:60px;
    text-align:center;
}
/* 放大镜 */
.md_400{
    width:420px;
    height:420px;
}
.bg_800{
    position:relative;
    width:840px;
    height:840px;
}
.o_hidden{
    overflow: hidden;
    display:none;
    position:relative;
    z-index: 2;
}
.mark{
    width:210px;
    height:210px;
    display: none;
    background: red;
    opacity:0.5;
    position:relative;
    z-index:10;
}


.hidden_md{
    position:relative;
    
    z-index:20;
    
}
.sm_img_border{
    border:2px solid red;
    width:56px;
    height:56px;
    margin:0px 7px;
    float:left;
}
.details_right{
    position: absolute;
    left:440px;
    z-index: 1;
}
.p-relative{
    position:relative
}
.price_two{
    background:rgb(248, 248, 248);
    height:60px;
    width:600px;
    height:100px;
}
.price_f{
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color:red;
    margin-left:50px;
}
.price_s{
    margin-left:50px;
}
.peoduct_sale_three{
    display:flex;
    justify-content:space-around;
    border:1px dotted #ccc;
    padding:8px 0;
    width:600px;
}
.online_service{
    margin-left:50px; 
    text-decoration:none; 
    color:rgb(114, 207, 196);
    background:rgb(240, 249, 235); 
    padding:10px; border-radius:5px;
    border:1px solid rgb(211, 237, 198)
}
.button_buy{
    background:rgb(207, 18, 30); 
    border-radius:5px; 
    color:white; 
    border:none; 
    padding:10px 60px;
}
.button_cart{
    background:white; 
    border-radius:5px; 
    color:rgb(120, 123, 123); 
    border:1px solid rgb(203, 203, 203); 
    padding:10px 60px;
}
.product_intr_eight{
    width:33%;
    height:25px;
    margin:10px 0;
}

